

@{
    ViewData["Title"] = "Server information";
}

<section >
    <div class="container">
        <div class="row">
            <h2>@ViewData["Title"]</h2>
            <div class="col-md-2">
                MachineName: 
            </div>
            <div class="col-md-10">
                @ViewData["MachineName"]
            </div>
            <div class="col-md-2">
                HostName: 
            </div>
            <div class="col-md-10">
                @ViewData["HostName"]
            </div>
            <div class="col-md-2">
                System:
            </div>
            <div class="col-md-10">
                @ViewData["System"]
            </div>
            <div class="col-md-2">
                OSArchitecture:
            </div>
            <div class="col-md-10">
                @ViewData["OSArchitecture"]
            </div>
            <div class="col-md-2">
                ProcessorCount:
            </div>
            <div class="col-md-10">
                @ViewData["ProcessorCount"]
            </div>
            <div class="col-md-2">
                LocalIP:
            </div>
            <div class="col-md-10">
                @ViewData["LocalIP"]
            </div>
            <p><a href="/dashboard/processes">Running Processes</a></p>  
        </div>
    </div>
</section>