@model IEnumerable<System.Diagnostics.Process>

@{
    ViewData["Title"] = "Server Manager";
}

<section>
    <div class="container">
        <h2>Running proccesses</h2>
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProcessName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.WorkingSet64)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PrivateMemorySize64)
                    </th>
                    <th>
                        Threads
                    </th>

                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model) {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProcessName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.WorkingSet64)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.PrivateMemorySize64)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Threads.Count)
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
</section>